p {
    margin: 0 0 15px 0;
}

a {
    transition: color @ani-speed ease-in;

    &:hover {
        color: @primary;
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: @primary-font;
    color: @body-text-color;
    font-weight: @weight-semibold;
    position: relative;
}

.flair {
    position: relative;
    padding-top: 50px;

    &::before, &::after {
        content: "";
        display: block;
        height: 3px;
        width: 80px;
        position: absolute;
        top: 0;
        left: 0;
    }

    &::before {
        background-color: @primary;
    }

    &::after {
        background-color: @secondary;
        left: 85px;
    }
}

h1 {
    margin-bottom: 30px;
    font-size: 4.0rem;
    line-height: 1;
    @media (min-width: @screen-sm-min) {
        line-height: 1.2;
    }
}

h2 {
    color: @body-text-color;
    margin-bottom: 30px;
    font-size: 2.4rem;
    line-height: 1.4;
    @media (min-width: @screen-sm-min) {
        font-size: 3rem;
    }
}

ul, ol {
    padding: 0 0 0 17px;
    margin: 0 0 20px 0;
}

.btn {
    font-size: 1.4rem;
    font-family: @primary-font;
}

.on-link {
    &::after {
        content: ">";
        margin-left: 3px;
    }
}