.block {
    padding: 30px 20px;
    margin-bottom: 30px;
    color: @palette-lightest;

    h2, h3, h4 {
        color: currentColor;
        padding-top: 0;
        margin-top: 0;
    }

    &.block-dark {
        background: #484848;
    }
    &.block-primary {
        background: @primary;
    }
    &.block-primary-dark {
        background: @primary-dark;
    }
    &.block-secondary {
        background: @secondary;
    }
    &.block-secondary-dark {
        background: @secondary-dark;
    }

    p {
        display: none;

        @media (min-width: @screen-sm-min) {
            display: block;
        }
    }
}

.block-button {
    margin-bottom: 30px;
}