.btn {
    border: none;
    padding: 10px 15px;
    text-align: center;
    background: @palette-lightest;
    color: @primary;
    border-radius: 6px;
    display: inline-block;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    opacity: 1;
    transition: opacity @ani-speed linear;

    svg {
        height: 20px;
        margin: 0 7px 0 0;
        color: currentColor;
    }

    .a {
        color: currentColor;
    }

    &:hover {
        text-decoration: none;
        color: @primary;
        opacity: 0.8;
    }

    &.btn-large {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.btn-primary {
    background: @primary;
    color: @palette-lightest;

    &:hover {
        color: @palette-lightest;
    }
}

.btn-secondary {
    background: @secondary;
    color: @palette-lightest;

    &:hover {
        color: @palette-lightest;
    }
}

.btn-block {
    width: 100%;
}

.btn-block-xs {
    @media (max-width: @screen-xs-max) {
        width: 100%;
    }
}