.btn {
    border: none !important;
    padding: 10px 15px !important;
    text-align: center !important;
    background: @palette-lightest !important;
    color: @primary !important;
    border-radius: 6px !important;
    display: inline-block !important;
    text-decoration: none !important;
    display: inline-flex !important;
    align-items: center !important;
    opacity: 1 !important;
    transition: opacity @ani-speed linear !important;

    svg {
        height: 20px !important;
        margin: 0 7px 0 0 !important;
        color: currentColor !important;
    }

    .a {
        color: currentColor !important;
    }

    &:hover {
        text-decoration: none !important;
        color: @primary !important;
        opacity: 0.8 !important;
    }

    &.btn-large {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
}

.btn-primary {
    background: @primary !important;
    color: @palette-lightest !important;

    &:hover {
        color: @palette-lightest !important;
    }
}

.btn-secondary {
    background: @secondary !important;
    color: @palette-lightest !important;

    &:hover {
        color: @palette-lightest !important;
    }
}

.btn-block {
    width: 100% !important;
}

.btn-block-xs {
    @media (max-width: @screen-xs-max) {
        width: 100% !important;
    }
}