.site-footer {
    border-top: 1px @seperator-color solid;
    font-size: 1.3rem;
    color: @palette-mid-light;

    a {
        color: currentColor;
        text-decoration: none;
    }

    .footer-columns {
        padding: 30px 0 15px 0;
    }
}

.footer-information {
    color: @palette-mid;

    .widget {
        border-top: 1px @seperator-color solid;
        padding: 15px 0;
    }
}