.posts-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: -9px;
    margin-left: -9px;

    & > article {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: ~"calc(100% - 18px)";
        max-width: ~"calc(100% - 18px)";
        margin: 0 9px 16px 9px;

        @media (min-width: @screen-sm-min) {
            flex-basis: ~"calc(50% - 18px)";
            max-width: ~"calc(50% - 18px)";
        }
        background: @palette-lightest;
        transition: background-color @ani-speed linear;
        padding: 20px;

        &:hover {
            background: @primary;

            h2 {
                color: @palette-lightest;
            }

            p {
                color: @palette-lightest;
            }
        }

        h2 {
            line-height: 1.2;
            color: @primary;
            font-weight: @weight-semibold;

            a {
                color: currentColor;
                transition: color @ani-speed linear;
            }
        }

        a {
            text-decoration: none;
        }

        p {
            transition: color @ani-speed linear;
        }

        svg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            height: 100%;
            opacity: 0.4;
        }
    }

    .post-image {
        position: relative;
        z-index: 1;
        flex: 0 0 100%;
        @media (min-width: @screen-sm-min) {
            flex: 0 0 49%;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .post-main {
        position: relative;
        z-index: 1;
        flex: 0 0 100%;
        @media (min-width: @screen-sm-min) {
            flex: 0 0 49%;
        }
    }
}